* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #2e2d29;
  color: #e8e5e6;
}
.container {
  background-color: #242222;
  padding: 2rem;
  border-radius: 1rem;
  min-height: 45vh;
  width: 370px;
  box-shadow: 3px 3px 30px rgb(61, 36, 61);
}
form {
  margin: 2rem 0 1rem 0;
}
form select,
input,
button {
  width: 100%;
  border: none;
  outline: none;
  border-radius: 0.75rem;
  
 
}
form input {
  border: 1px solid #e8dab2;
  font-size: 1rem;
  height: 3rem;
  padding-left: 0.5rem;
  background-color: #5750503b;
  color: #8f2d56;
 
}

.dropdown {
  margin-top: 2rem;
  
}
.select-container img {
  max-width: 2.5rem;
}
.select-container {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #e8dab2;
  width: 100%;
  border-radius: 0.4rem;
/
}
.dropdown i {
  margin: 4rem;
  font-size: 1rem;
  color: #8f2d56;
}
.msg {
  margin: 1.5rem  0  1rem 0;
}
form button {
  background-color: #8f2d56;
  height: 3rem;
  font-size: 1.11rem;
  color: #fff;
 
}
.select-container select {
  font-size: 1rem;
  width: auto;
 
  background-color: #242222;
  color: #8f2d56;
  margin: 10px;
  

}
.msg2{
    color: #8f2d56;
    font-size: 2rem;
}